body{
    margin: 0;
    padding: 0;
}
div.parent{
    display: flex;
    width: 1000px;
    height: 150px;
    background-color: aqua;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}
div.parent>div.child{
    width: 150px;
    height: 75px;
    background-color: brown;
    margin-left: 10px;

}
